.page.theme_dark {
  --switch-border-color: #FF0070;
  --switch-border-color-opacity: rgb(255 0 112 / 0.4);
  --switch-text-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-title-text-color: #000028;
  --rec-frame-color: #FF0070;
  --header-title-color: #DB00FF;
  --header-title-shadow-color: #FF0070;
  --bg-text-color: #FF0070;
  --question_color: #FF0070;
  --card-link-shadow-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --switch-border-color: #FF0070;
    --switch-border-color-opacity: rgb(255 0 112 / 0.4);
    --switch-text-color: #FF0070;
    --main-text-color: #F1B2CE;
    --main-title-text-color: #000028;
    --rec-frame-color: #FF0070;
    --header-title-color: #DB00FF;
    --header-title-shadow-color: #FF0070;
    --bg-text-color: #FF0070;
    --question_color: #FF0070;
    --card-link-shadow-color: #FF0070;
  }
}

@media (width >= 768px) {

  .page.theme_dark {
    background-image: url(../images/cover-image-dark.png);
  }
}
